<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2BZq5W9xKIzMC2Cw4cgOJQKGbXykyu70</string>
	<key>GCM_SENDER_ID</key>
	<string>543762091250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pup</string>
	<key>PROJECT_ID</key>
	<string>pup-app-a529f</string>
	<key>STORAGE_BUCKET</key>
	<string>pup-app-a529f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543762091250:ios:7f9b3ab5f2d07cafb3946b</string>
	<key>DATABASE_URL</key>
	<string>https://pup-app-a529f-default-rtdb.firebaseio.com</string>
</dict>
</plist>